:root {
  --page-width: 1230px;
  --text-width: 700px;
  --header-color: #222;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  background-color: #f7feff;
  padding: 1rem 1.7rem;
}
h1 {
  margin-top: 0;
}
h1 .role {
  color: teal;
  font-size: 0.8em
  margin-top: 0.4rem;
}
h1, h2, h3 {
  color: var(--header-color);
}
h3 {
  border-bottom: 3px solid var(--header-color);
  padding-bottom: 2px;
}
.about-me {
  max-width: var(--page-width);
  min-width: 300px;
}
p, .contact-info {
  font-size: 0.9rem;
  line-height: 1.4;
}
.personal-details > p {
  margin-left: 0.2rem;
}
.contact-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  float: right;
  padding: 0 0 0.5rem 2vw;
}
.contact-info > div {
  display: flex;
  align-items: center;
}
.contact-info img {
  height: 1rem;
}
main > section {
  margin-top: 2.5rem;
  max-width: var(--page-width);
}
p {
  max-width: var(--text-width);
  padding: 0 0.5rem;
}
.card-list .header {
  display: flex;
  justify-content: space-between;
}
.card-list .place {
  text-align: right;
  margin-left: 1rem;
}
.card-list .place span {
  font-size: 0.7rem;
}
.card-list .header > .place > h5 {
  max-width: 200px;
  margin-bottom: 2px;
}
.card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.card-list > li {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  background-color: white;
  width: 320px;
  min-height: 220px;
  margin: 0 1rem 1rem 0;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.3);
}
.card-list > li ul {
  padding: 0 0 0 2rem;
}
.card-list > li li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.stack ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 1rem;
}
.stack ul > li {
  margin-left: 0.5rem;
}
.publications h5 {
  margin: 0;
}
.publications p {
  font-size: 0.8rem;
  margin: 0;
}
a {
  text-decoration: none;
}
h5 > a {
  color: var(--header-color);
}

@media (max-width: 360px) {
  .contact-info {
    display: flex;
    float: none;
  }
  .card-list {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 890px) {
  body {
    padding: 0.5rem 1rem;
  }
  .card-list {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem 1vw;
  }
  .card-list > li {
      width: auto;
  }
  .card-list .header > .place > h5 {
    max-width: initial;
  }
}
@media print { 
  body {
    background-color: white;
  }
  .card-list {
    display: block;
  }
  .card-list > li {
    margin: 12px auto;    
    max-width: 520px;
    page-break-inside: avoid;
    border-bottom: 1px solid;
    box-shadow: none;
  }
  section.education, section.side-projects {
    page-break-before: always;
  }
  .card-list .header > .place > h5 {
    max-width: initial;
  }
}
